.desc_main {
  margin-top: -4vw;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-column-start: 3;
  grid-column-end: 24;

  background-color: var(--colour3);
  /* background-color: var(--colour5); */
    /* color: var(--colour3); */
}

.des_text {
  display: block;
  grid-column: 2;
  grid-column-end: 21;
  padding: 3rem 0 3rem 0;
  font-family: "Helvetica Neue LT Pro Roman";
  font-size: 1.8rem;
}

@media (max-width: 500px) {


  /* .des_text {
    display: block;
    grid-column: 2;
    grid-column-end: 21;
    padding: 2rem 0 2rem 0;
    font-family: "Helvetica Neue LT Pro Roman";
    font-size: 1.6rem;
  } */

  .des_text {
    display: block;
    grid-column: 1;
    grid-column-end: 22;
    padding: 3rem 0 3rem 0;
    font-family: "Helvetica Neue LT Pro Roman";
    font-size: 2rem;
  }

  .desc_main {
    display: grid;
  margin-top: 0;

    grid-template-columns: repeat(21, 1fr);
    grid-column-start: 3;
    grid-column-end: 24;
  
    background-color: var(--colour3);
      /* color: var(--colour3); */
  }

  
}


@media screen and (max-width: 768px) {
  .des_text {
    display: block;
    grid-column: 1;
    grid-column-end: 22;
    padding: 3rem 0 3rem 0;
    font-family: "Helvetica Neue LT Pro Roman";
    font-size: 1.3rem;
  }
}