.accordion-button:not(.collapsed){
    /* background-color: var(--colour2); */
    color: var(--colour1);
}

.accordion-button:active{
    /* background-color: var(--colour2); */
    background-color: var(--colour3);

}


.accordion-button:focus{
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.13);

}

.accordion-button:not(.collapsed)::after {
    background-image: url("/public/data/react/orange_down_arrow.svg");
    transform: rotate(-180deg);
}

.accordion{
    z-index: 0;
}