.error_main {
  height: 80vh;
  overflow: hidden;
}

.error_container {
  top: 50%;
  height: 70%;
  text-align: center;
  transform: translateY(50%);
}

.error404 {
  font-size: 3rem;
}

.error_des {
  font-size: 1re;
}
